In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
root = ''
df1=pd.read_csv(root + 'tmdb_5000_credits.csv')
df2=pd.read_csv(root + 'tmdb_5000_movies.csv')

df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')

In [6]:
df2.sort_values(['original_title'])

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
4257,1500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",http://www.hashtaghorror.com/,301325,[],de,#Horror,"Inspired by actual events, a group of 12 year ...",2.815228,"[{""name"": ""AST Studios"", ""id"": 75277}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-11-20,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Death is trending.,#Horror,3.3,52,#Horror,"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
4142,0,"[{""id"": 53, ""name"": ""Thriller""}]",http://supercapitalist.net/,119458,[],en,$upercapitalist,A maverick New York hedge fund trader with unc...,0.174311,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-08-10,0,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Money for Life,Supercapitalist,3.5,2,Supercapitalist,"[{""cast_id"": 11, ""character"": ""Mark Patterson""...","[{""credit_id"": ""52fe4c02c3a36847f821d22d"", ""de..."
3339,7500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://500days.com,19913,"[{""id"": 248, ""name"": ""date""}, {""id"": 572, ""nam...",en,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...",45.610993,"[{""name"": ""Fox Searchlight Pictures"", ""id"": 43...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,60722734,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,It was almost like falling in love.,(500) Days of Summer,7.2,2904,(500) Days of Summer,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
4585,0,"[{""id"": 27, ""name"": ""Horror""}]",NaN,19204,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 1706, ""n...",it,...E tu vivrai nel terrore! L'aldilà,A young woman inherits an old hotel in Louisia...,8.022122,"[{""name"": ""Fulvia Film"", ""id"": 13682}]","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}]",1981-04-22,0,87.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The seven dreaded gateways to Hell are conceal...,The Beyond,6.6,117,The Beyond,"[{""cast_id"": 14, ""character"": ""Liza Merril"", ""...","[{""credit_id"": ""52fe47c69251416c750a50ed"", ""de..."
3556,15000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",http://www.10cloverfieldlane.com/,333371,"[{""id"": 1930, ""name"": ""kidnapping""}, {""id"": 23...",en,10 Cloverfield Lane,"After a car accident, Michelle awakens to find...",53.698683,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-10,108286421,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Monsters come in many forms.,10 Cloverfield Lane,6.8,2468,10 Cloverfield Lane,"[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2784,0,"[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...",NaN,407887,"[{""id"": 10586, ""name"": ""korea""}, {""id"": 229851...",ko,인천상륙작전,A squad of soldiers fight in the Korean War's ...,6.116436,"[{""name"": ""Taewon Entertainment"", ""id"": 3965}]","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2016-07-27,0,110.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Odds Were 5000 to 1 … One was all They Nee...,Operation Chromite,5.8,29,Operation Chromite,"[{""cast_id"": 1, ""character"": ""Jang, Hak-soo (S...","[{""credit_id"": ""5843fb6fc3a3684813007fb4"", ""de..."
3136,10000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,15067,"[{""id"": 75, ""name"": ""gunslinger""}, {""id"": 1419...",ko,"좋은 놈, 나쁜 놈, 이상한 놈",The story of three Korean outlaws in 1930s Man...,11.847324,"[{""name"": ""Cineclick Asia"", ""id"": 685}, {""name...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2008-07-16,0,130.0,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,A Fistful of Fun!,"The Good, The Bad, The Weird",7.1,193,"The Good, The Bad, The Weird","[{""cast_id"": 1, ""character"": ""Yoon Tae-goo, th...","[{""credit_id"": ""593d938492514105b702176b"", ""de..."
3711,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",http://www.lady-vengeance.de/,4550,"[{""id"": 10183, ""name"": ""independent film""}]",ko,친절한 금자씨,After a 13-year imprisonment for the kidnap an...,17.074843,"[{""name"": ""CJ Capital Investment"", ""id"": 946},...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2005-07-29,23803308,115.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,All she wanted was a peaceful life... they did...,Sympathy for Lady Vengeance,7.4,356,Sympathy for Lady Vengeance,"[{""cast_id"": 14, ""character"": ""Mr. Baek"", ""cre...","[{""credit_id"": ""52fe43cbc3a36847f8070271"", ""de..."
2806,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,11658,"[{""id"": 41586, ""name"": ""archaeologist""}, {""id""...",ko,태극기 휘날리며,"In 1950, in South Korea, shoe-shiner Jin-tae L...",9.572705,"[{""name"": ""Showbox Entertainment"", ""id"": 11420}]","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2004-02-05,15,140.0,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,NaN,Tae Guk Gi: The Brotherhood of War,7.4,133,Tae Guk Gi: The Brotherhood of War,"[{""cast_id"": 50, ""character"": ""Lee Jin-Tae"", ""...","[{""credit_id"": ""5314f295c3a3682a22005810"", ""de..."
2521,16000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,33196,"[{""id"": 720, ""name"": ""helicopter""}, {""id"": 966...",ko,해운대,"Man-sik and Yeon-hee, are unsure as to whether...",4.628525,"[{""name"": ""Polygon Entertainment"", ""id"": 5716}...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2009-06-06,11301649,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Tidal Wave,6.5,48,Tidal Wave,"[{""cast_id"": 6, ""character"": ""\uae40\ud718 (Ki...","[{""credit_id"": ""52fe45029251416c91024745"", ""de..."

In [3]:
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
# Parseamos esas listas de diccionarios con un bucle y una funcion de la libreria ast
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

In [6]:
 df2[feature]

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [7]:
# Usamos esta función para extraer el director
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [8]:
# Traemos una lista con los tres primeros elementos
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #verificamos si hay mas de tres elementos, si los hay traemos solo tres.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return lista vacia si no hay datos
    return []

In [9]:
# Aplicamos las funciones
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [10]:
# Vemos como han quedado nuestras variables
df2[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]"

In [11]:
# El siguiente paso sería convertir los nombres y las instancias de palabras clave en minúsculas y eliminar todos los espacios entre ellos. Esto se hace para que nuestro vectorizador no cuente al Johnny de "Johnny Depp" y al "Johnny Galecki" como iguales.
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:

        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [12]:
# Aplicamos la función
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [13]:
# Ahora estamos en condiciones de crear nuestra "sopa de metadatos", que es una cadena que contiene todos los metadatos que queremos enviar a nuestro vectorizador (a saber, actores, director y palabras clave).
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

In [14]:
# Vemos como han quedado nuestras variables
df2[['title', 'cast', 'director', 'keywords', 'genres', 'soup']].head(3)

,title,cast,director,keywords,genres,soup
0,Avatar,"[samworthington, zoesaldana, sigourneyweaver]",jamescameron,"[cultureclash, future, spacewar]","[action, adventure, fantasy]",cultureclash future spacewar samworthington zo...
1,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",goreverbinski,"[ocean, drugabuse, exoticisland]","[adventure, fantasy, action]",ocean drugabuse exoticisland johnnydepp orland...
2,Spectre,"[danielcraig, christophwaltz, léaseydoux]",sammendes,"[spy, basedonnovel, secretagent]","[action, adventure, crime]",spy basedonnovel secretagent danielcraig chris...

In [15]:
# Los siguientes pasos son los mismos que hicimos con nuestro recomendador basado en la descripción de la trama. Una diferencia importante es que usamos **CountVectorizer()** en lugar de TF-IDF. Esto se debe a que no queremos restar importancia a la presencia de un actor/director si ha actuado o dirigido en relativamente más películas.
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

In [21]:
# Computamos la similaridad del coseno en nuestro vector de palabras
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(count_matrix, count_matrix)

In [22]:
type(similarity_matrix)

numpy.ndarray

In [18]:
# Invertimos el index y el titulo de las peliculas otra vez
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['title'])

In [23]:
def get_recommendations(title, cosine_sim=similarity_matrix):
    # Obtiene el indice que coincide con el título
    idx = indices[title]

    # Conseguimos los pares de similaridades entre todas las peliculas con esa pelicula
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordenamos las películas segun su puntaje de similaridad
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Hacemos un top 10
    sim_scores = sim_scores[1:11]

    # Obtenemos los índices de esas películas
    movie_indices = [i[0] for i in sim_scores]

    # Devolvemos el listado
    return df2['title'].iloc[movie_indices]

In [24]:
get_recommendations('The Dark Knight Rises')

65               The Dark Knight
119                Batman Begins
4638    Amidst the Devil's Wings
1196                The Prestige
3073           Romeo Is Bleeding
3326              Black November
1503                      Takers
1986                      Faster
303                     Catwoman
747               Gangster Squad
Name: title, dtype: object

In [28]:
#np.save('similarity_matrix.npy', similarity_matrix)
#indices.to_pickle('indices.pkl')
#df2['title'].to_pickle('df2.pkl')